body {
    background: url(https://images.unsplash.com/photo-1524592714635-d77511a4834d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWlycG9ydHxlbnwwfHwwfHw%3D&w=1000&q=80) ;
    background-size: cover;
    background-repeat: no-repeat;
  }