.services {
  position:fixed;
    padding: 0.4rem ;
    bottom: 0;
  }
  .services {
    background: var(--darkGrey);
    text-align: center;
  }
  .services-center {
    width: 90vw;
    margin: 0 ;
    display: grid;
    background-color:rgb(255,255,255 , 0.6);
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
  }
  .service span {
    display: inline-block;
    color: var(--primaryColor);
    font-size: 2.5rem;
    margin-bottom:0;
  }
  .services h6 {
    letter-spacing: var(--mainSpacing);
    font-weight:600;
    font-size: large;
  }
  .services p {
    width: 100%;
    margin: 0 auto;
  }